{% extends 'preprocessing/base.html' %}
{% block content %}
    <h1>Image Preprocessing</h1>
    <p>After uploading files, apply some sort of image preprocessing and allow downloads. </p>

    <h2>Upload</h2>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload file</button>
    </form>

    <!-- url is the uploaded file -->
    <!-- {% if url %}
        <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
    {% endif %} -->

    {% if images %}
        <h2>Images</h2>
        <table class="table">
            <thread>
                <tr>
                    <th>Title</th>
                    <th>Download</th>
                </tr>
            </thread>
            <tbody>
                {% for img in images %}
                    <tr>
                        <td>{{ img.title }}</td>
                        <td>
                            <a href="{{ img.img_zip.url }}" class = "btn btn-primary btn-sm">
                                Download Zipped Images
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    {% endif %}
{% endblock content %}