{% extends 'preprocessing/base.html' %}
{% block content %}
<h1>Data Preprocessing</h1>
<p>Here you can apply preprocessing tools to your data, in order to prepare it for some machine learning.</p>

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a>Image Preprocessing</a>
      <!-- <small class="text-muted">DATE</small> -->
    </div>
    <h2><a class="article-title" href="{% url 'preprocessing-image'%}">Choose files to upload</a></h2>
    <p class="article-content">Upload images here for preprocessing</p>
  </div>
</article>

<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a>Text Preprocessing</a>
      <!-- <small class="text-muted">DATE</small> -->
    </div>
    <h2><a class="article-title" href="{% url 'preprocessing-text'%}">Choose files to upload</a></h2>
    <p class="article-content">Upload text here for preprocessing</p>
  </div>
</article>
{% endblock content %}