{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Process your CSV Files</h1>
    <p class="lead">Tell us what you want to do with your data.</p>
</div>

<!-- Ask user a question with yes or no options -->
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Question</h5>
            <p class="card-text text-center">Description</p>
            <div class="row">
                <div class="col-sm text-center">
                    <button href="#Yes" class="btn btn-primary btn-lg" data-toggle="collapse">Yes</button>
                </div>
                <div class="col-sm text-center">
                    <button href="#No" class="btn btn-primary btn-lg" data-toggle="collapse">No</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- This will be shown if yes -->
<div id="Yes" class="collapse">
    This will be shown if the user clicks yes.
</div>

<!-- This will be shown if no -->
<div id="No" class="collapse">
    This will be shown if the user clicks no.
</div>

<h2>Your Files</h2>
{% if texts %}
<table class="table">
    <thread>
        <tr>
            <th>Title</th>
            <th>Rows</th>
            <th>Columns</th>
        </tr>
    </thread>
    <tbody>
        {% for tx in texts %}
        <tr>
            <td>{{ tx.title }}</td>
            <td>
                {{ tx.rows }}
                <!-- <a href="{{ tx.txt.url }}" class="btn btn-primary btn-sm">
                    Download
                </a> -->
            </td>
            <td>
                <!-- Always use post to modify data in database
                <form method="post" action="{% url 'delete_text' tx.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btnm btn-danger btn-sm">Remove</button>
                </form> -->
                {{ tx.cols }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Sorry, you don't have any files uploaded right now. Please go back to the <a href="{% url 'preprocessing-text'%}">upload page</a> to load some files!</p>

{% endif %}

<!-- List different functionalities in h2 headers -->
<h2>Merging Files</h2>
<!-- button for calling function to merge files -->
<form method="post" action="{% url 'text_call' %}?fn_code=1">
    {% csrf_token %}
    <button class="btn btn-primary btn-sm">Merge</button>
</form>

<h2>Editing Columns</h2>
<!-- button for calling function to edit columns -->
<!-- {% if code %}
    <h1>{{ fn_code }}</h1>
    <h2>hello</h2>
{% endif %} -->

<!-- Class for showing images -->
<!-- <img src="..." class="img-fluid" alt="Responsive image"> -->

{% endblock content %}