{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Process your CSV Files</h1>
    <p class="lead">Tell us what you want to do with your data.</p>
</div>

<!-- Button for showing hidden text -->
<button href="#HiddenText" class="btn btn-primary btn-lg" data-toggle="collapse">Show Hidden Text</button>
<div id="HiddenText" class="collapse">
    This is hidden text
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Question</h5>
            <p class="card-text">Pick yes or no.</p>
            <button href="#Yes" class="btn btn-primary btn-lg .btn-block" data-toggle="collapse">Yes</button>
            <button href="#No" class="btn btn-primary btn-lg" data-toggle="collapse">No</button>
        </div>
    </div>
</div>

<div id="Yes" class="collapse">
    This will be shown if the user clicks yes.
</div>

<div id="No" class="collapse">
    This will be shown if the user clicks no.
</div>

<!-- PUT INSIDE CARD, ADD YES OR NO OPTIONS, SHOW PICTURES -->

<!-- List different functionalities in h2 headers -->
<h2>Merging Files</h2>
<!-- button for calling function to merge files -->
<form method="post" action="{% url 'text_call' %}?fn_code=1">
    {% csrf_token %}
    <button class="btn btn-primary btn-sm">Merge</button>
</form>

<h2>Editing Columns</h2>
<!-- button for calling function to edit columns -->
<!-- {% if code %}
    <h1>{{ fn_code }}</h1>
    <h2>hello</h2>
{% endif %} -->

{% endblock content %}