{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Process your CSV Files</h1>
    <p class="lead">Tell us what you want to do with your data.</p>
</div>

<!-- Ask user a question with yes or no options -->
<!-- <div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Question</h5>
            <p class="card-text text-center">Description</p>
            <div class="row">
                <div class="col-sm text-center">
                    <button href="#Yes" class="btn btn-primary btn-lg" data-toggle="collapse">Yes</button>
                </div>
                <div class="col-sm text-center">
                    <button href="#No" class="btn btn-primary btn-lg" data-toggle="collapse">No</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- This will be shown if yes -->
<!-- <div id="Yes" class="collapse">
    This will be shown if the user clicks yes.
</div> -->

<!-- This will be shown if no -->
<!-- <div id="No" class="collapse">
    This will be shown if the user clicks no.
</div> -->

<h2>Your Files</h2>
{% if texts %}
<table class="table">
    <thread>
        <tr>
            <th>Title</th>
            <th>Rows</th>
            <th>Columns</th>
            <th>Generate Report</th>
            <th>Edit Files</th>
        </tr>
    </thread>
    <tbody>
        {% for tx in texts %}
        <tr>
            <td>{{ tx.title }}</td>
            <td>
                {{ tx.rows }}
                <!-- <a href="{{ tx.txt.url }}" class="btn btn-primary btn-sm">
                    Download
                </a> -->
            </td>
            <td>
                <!-- Always use post to modify data in database -->

                {{ tx.cols }}
            </td>
            <!-- <td>
                <form method="post" action="{% url 'delete_text' tx.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btnm btn-danger btn-sm">Remove</button>
                </form>
            </td> -->
            <td>
                <form method='post' action="{% url 'generate_report' tx.pk %}">
                    {% csrf_token %}
                    <button type="submit" class='btn btn-primary btn-sm'>Generate Report</button>
                </form>
            </td>
            <td>
                <form method='post' action="{% url 'edit_file' %}">
                    {% csrf_token %}
                    <input type='hidden' value='{{ tx.pk }}' name='pk'>
                    <button type="submit" class='btn btn-primary btn-sm'>Edit File</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>Sorry, you don't have any files uploaded right now. Please go back to the <a
        href="{% url 'preprocessing-text'%}">upload page</a> to load some files!</p>

{% endif %}

<!-- List different functionalities in h2 headers -->
<h2 class="text-center">Merging Files</h2>
<!-- button for calling function to merge files -->
<!-- <form method="post" action="{% url 'text_call' %}?fn_code=1"> -->
<form method="post" action="{% url 'merge' %}">
    {% csrf_token %}
    <table class="table">
        <thread>
            <tr>
                <th>Title</th>
                <th>Merge?</th>
            </tr>
        </thread>
        <tbody>
            {% for tx in texts %}
            <tr>
                <td>{{ tx.title }}</td>
                <td>
                    <input type="checkbox" name="merge_files" value='{{ tx.pk }}'></input>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <input type='text' name='merge_fname'>
    <button type='submit'>Merge Files</button>
    <!-- <div class="text-center">
        <button class="btn btn-primary btn-lg">Merge</button>
    </div> -->
    <br>
</form>

<!-- I formatted the section above so that it is in the center of the page (hopefully it won't cause problems) -->

<h2 class="text-center">Editing Columns</h2>
<!-- button for calling function to edit columns -->
<!-- {% if code %}
    <h1>{{ fn_code }}</h1>
    <h2>hello</h2>
{% endif %} -->

<!-- Class for showing images -->
<!-- <img src="..." class="img-fluid" alt="Responsive image"> -->

{% endblock content %}