{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">{{ name }} Report</h1>
    <p class="lead">A brief report of some statistics related to your data.</p>
</div>

<div class="container">
    <h2 class="text-center">Report</h2>
    <table class = "table">
        <thead>
            <tr>
                {% for c in columns %}
                <th>{{ c }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for _,data in report.iterrows %}
                <tr>
                {% for value in data %}
                    <td>{{ value }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<form action="{% url 'process_text' %}">
    <button>Back to Processing</button>
</form>
{% endblock content %}