{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">CSV Preprocessing</h1>
    <p class="lead">Go to the link below to upload your CSV files.</p>
</div>

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <!-- <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Upload file</button>
                </form> -->
                <form action="{% url 'upload_text' %}">
                    <button class = 'btn btn-primary btn-sm' style = 'font-size: 30px'>Upload CSVs</button>
                </form>
            </div>
        </div>
    </div>
</div>


<h2>Uploaded CSV Files</h2>
{% if texts %}
<table class="table">
    <thread>
        <tr>
            <th>Title</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thread>
    <tbody>
        {% for tx in texts %}
        <tr>
            <td>{{ tx.title }}</td>
            <td>
                <a href="{{ tx.txt.url }}" class="btn btn-primary btn-sm">
                    Download
                </a>
            </td>
            <td>
                <!-- Always use post to modify data in database -->
                <form method="post" action="{% url 'delete_text' tx.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btnm btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% else %}
<p>Looks like you haven't uploaded any files yet! Click the link above to upload your first file.</p>
{% endif %}


<h2>Preprocessing</h2>
<form action="{% url 'process_text' %}">
    <button class = 'btn btn-primary btn-sm' style = 'font-size: 20px' >Start Processing!</button>
</form>
{% endblock content %}