{% extends 'preprocessing/base.html' %}
{% block content %}

<div class="jumbotron">
    <h1 class="display-4">Text Preprocessing</h1>
    <p class="lead">Here you can upload files for text preprocessing. After the preprocessing, you can redownload your
        files.</p>
</div>


<!-- <h2>Upload</h2>
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Upload file</button>
</form> -->

<div class="row justify-content-center">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Upload files here!</h5>

                <form method="post" enctype='multipart/form-data'>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Upload file</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% if texts %}
<h2>Uploaded Text Files</h2>
<table class="table">
    <thread>
        <tr>
            <th>Title</th>
            <th>Download</th>
            <th>Delete</th>
        </tr>
    </thread>
    <tbody>
        {% for tx in texts %}
        <tr>
            <td>{{ tx.title }}</td>
            <td>
                <a href="{{ tx.txt.url }}" class="btn btn-primary btn-sm">
                    Download
                </a>
            </td>
            <td>
                <!-- Always use post to modify data in database -->
                <form method="post" action="{% url 'delete_text' tx.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btnm btn-danger btn-sm">Remove</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endif %}
{% endblock content %}